body {
    background: url("images/hexlight.jpg");
}

section {
    border-radius: 10px 50px 10px 10px;
    overflow: auto;
    border: 5px solid black;
    margin-right: 60px;
    margin-top: 50px;
    margin-left: 85px;
    margin-bottom: 100px;
    text-align: left;
    float: left;
    background: url("images/hex.jpg");
    color: #666;
    height: 575px;
    width: 830px;
}

li {

}

#cardimg {
    margin-left: 20px;
    padding: 2%;
}

#gameimg {
    margin-left: 20px;
    padding: 2%;
}

#newsimg {
    margin-left: 20px;
    padding: 2%;
}

#musicimg {
    margin-left: 20px;
    padding: 2%;
}

.list-group-item {
    background: url("images/hex.jpg");
}

.card {

    background: url("images/block.jpg");
    float: left;
    margin: 1%;
    color: #ebebeb;
}

.jumbotron {
    background: url("images/hex.jpg");
}


.container {
    color: #ebebeb;
    padding: 1%;
}

.row {
    padding: 1%;

}

.col-3 {
    margin: auto;
    padding: 1%;
}

.col-2 {
    padding: 1%;
}

.col-6 {
    
    padding: 3%;
}

@media (max-width: 980px) { 

}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

}
